/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .justify-items-baseline {
    justify-items: baseline;
  }
  .heartIcon {
    z-index: 1;
    top: 10px;
    left: 231px;
  }
  .alertTransform {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
