/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .justify-items-baseline {
    justify-items: baseline;
  }
  .heartIcon {
    z-index: 1;
    top: 10px;
    left: 231px;
  }
  .centralise {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .centraliseSearch {
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
  }
  .crossIcon {
    right: 40px;
    top: 40px;
    color: white;
    z-index: 50;
  }
}
